.pagina-produtos{
    display: flex;
    flex-direction: column;

    width: 100%;

    > h1{
        text-align: center;
        margin-bottom: 40px;
        margin-top: 35px;
    }

    .mais-vendidos{
    
        width: 90%;
        display: flex;
        justify-content: flex-end;
    
        > button{
            border-radius: 45px;
            font-size: 16px;
            background-color: 7px 10px 20px 0px rgba(117, 115, 115, 0.2);
            border: 1px;
            padding: 9px 30px;
              
        }

        > button:hover{
                background-color: #000;
                color: #ffffff;
                transition: 0.9s;
                transform: rotate(0.4deg);
            }
        }
    
    

        .faixa-produtos{
            display: flex;
            flex-direction: row;
            width: 100%;
            margin-top: 50px;

        .filtrar-tenis{
            display: flex;
            flex-direction: column;
            align-items: center;

            padding: 0px 15px;

            > h1{
                margin-bottom: 10px;
            }
            
            > p{
                margin-bottom: 10px;
            }

            > article{
                display: flex;
                flex-direction: column;

                gap: 15px;

                .button1{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: none;
                    width: 150px;
                    border-radius: 25px;
                    padding: 15px 0px;
                    background-color: #ffffff;
                    font-size: 16px;
                    font-weight: 530;
                    border-radius: 45px;
                    background-color: rgb(224, 224, 224);
                    border: 1px;
                }

                > .button1:hover{
                    background-color: #000;
                    color: #ffffff;
                    transition: 0.9s;
                    transform: rotate(0.4deg);
                    
                }
            }
        }

        .produtos{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            gap: 40px;
            padding: 0px 50px 70px;

            .faixa-cima-produtos{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                width: 100%;

                gap: 50px;
                
                
                .quadrado-do-tenis{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    
                    height: auto;
                    width: 320px;
                    
                    padding: 15px 19px;
                    border-radius: 60px;
                    border: 1px solid #000;

                    > img{
                        align-items: center;
                        width: 250.190px;
                        height: 140.9px;
                        
                        > button{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: none;
                            width: 150px;
                            border-radius: 25px;
                            padding: 15px 0px;
                            padding-top: 300px;
                            background-color: #ffffff;
                            font-size: 16px;
                            font-weight: 530;
                            border-radius: 45px;
                            background-color: rgb(224, 224, 224);
                            border: 1px;

                        }
                    }
                }
            }  
        }
    }


    .Preço{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 50px;

        >h1{
            padding: 40px;
        }
    }

    .botão{
        display: flex;
        padding-top: 20px;
        padding-left: 17px; 
    
        gap: 100px;
    
        
    }
    
    .marca-produtos-por-preço{
        display: flex;
        flex-direction: row;

        gap: 30px;

        > div{
            max-width: 100px;
            padding-bottom: 55px;

            >input{
                width: 100%;
                border-radius: 1px;

                    display: flex;
                    justify-content: center;
            
                    align-items: center;
                    border: none;
            
                    padding-top: 0px 0px ;
                    width: 95px;
                    padding: 15px 0px;
                    background-color: #ffffff;
                    font-size: 16px;
                    font-weight: 530;
                    border-radius: 45px;
                    border: none;
                    background-color:rgb(224, 224, 224);
                    margin-bottom: 280px;

                    outline: none;
                    padding: 12px 10px 10px 35px;

            }
        }
    }
}


.Marca{
    font-weight:400
    
}

.valorzinho{
    padding: 95px;
    
}

.valorzinho2{
    padding: 95px;
}

.valorzinho3{
    padding: 95px;
    padding-top: 70px;

}

.valorzinho4{
    padding: 95px;
    padding-top: 70px;
    
}

.nike-dunk{
    padding-top: 25px;
}

.Nike-Dunk{
    align-items: end;
    height: 145px !important;
    width: 265px !important;
}

.Travis{
    height: 145px !important;
    width: 269px !important;

}

.button2{
    display: flex;
    flex-direction: row-reverse;


}

.button3-do-texto{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 45px;

}