.pagina-produtos{
    display: flex;
    flex-direction: column;
    width: 100%;

    > h1{
        text-align: center;
        width: 100%;

        font-size: 38px;
        font-weight: 600;
        letter-spacing: 1.6px;
        font-family: 'Monda', sans-serif;

        padding-top: 60px;
    }

    .faixa-produtos{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 90px;

        .filtrar-tenis{
            display: flex;
            flex-direction: column;
            align-items: center;

            width: 100%;
            max-width: 250px;
            padding: 0px 15px;

            > h1{
                margin-bottom: 10px;
            }
            
            > p{
                margin-bottom: 10px;
            }

            > article{
                display: flex;
                flex-direction: column;

                gap: 15px;

                .button1{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: none;
                    width: 150px;
                    border-radius: 25px;
                    padding: 15px 0px;
                    background-color: #ffffff;
                    font-size: 16px;
                    font-weight: 530;
                    border-radius: 45px;
                    background-color: rgb(224, 224, 224);
                    border: 1px;
                }

                > .button1:hover{
                    background-color: #000;
                    color: #ffffff;
                    transition: 0.9s;
                    transform: rotate(0.4deg);
                }
            }
        }

        .produtos{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            gap: 40px;
            padding: 0px 50px 70px;

            .faixa-cima-produtos{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                width: 100%;

                gap: 50px;
                
                
                .quadrado-do-tenis{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    
                    height: 500px;
                    width: 320px;
                    padding: 20px;
                    
                    border-radius: 60px;
                    border: 1px solid #000;
                    transition: 0.1s;

                    > img{
                        width: 240px;
                        height: 110px;

                        margin: 20px 0px;
                    } 

                    >div{
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        width: 100%;
                        padding-top: 50px;   
                        border-top: 1px solid #b4b4b4;

                        >h1{
                            font-size: 25px;
                            font-family: 'Monda', sans-serif;
                        }

                        >h2{
                            text-align: center;

                            margin-top: 10px;

                            max-width: 270px;

                            min-height: 64px;
                            max-height: 64px;
                        }

                        > button{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                           
                            font-size: 16px;
                            font-weight: 600;
    
                            width: 150px;
                            height: 40px;
    
                            border: none;
                            margin-top: 50px;                       
                            border-radius: 25px;
                            background-color: #e0e0e0;
                            cursor: pointer;
                        }

                        > button:hover{
                            background-color: #000;
                            color: #ffffff;
                            transition: 0.5s;
                            transform: rotate(0.4deg);
                        }
                    }               
                }

                .quadrado-do-tenis:hover{
                    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
                    cursor: pointer;
                    transform: translateY(-10px);
                }
            }  
        }
    }

    

    .Preço{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 50px;

        >h1{
            padding: 40px;
        }
    }

    .botão{
        display: flex;
        padding-top: 20px;
        padding-left: 17px; 
    
        gap: 100px;
    
        
    }
    
    .marca-produtos-por-preço{
        display: flex;
        flex-direction: row;

        gap: 30px;

        > div{
            max-width: 100px;
            
            >input{
                width: 100%;
                border-radius: 1px;

                display: flex;
                justify-content: center;
            
                align-items: center;
                border: none;
            
                padding-top: 0px 0px ;
                width: 95px;
                padding: 15px 0px;
                background-color: #ffffff;
                font-size: 16px;
                font-weight: 530;
                border-radius: 45px;
                border: none;
                background-color:rgb(224, 224, 224);
                margin-bottom: 280px;

                outline: none;
                padding: 12px 10px 10px 35px;
            }
        }
    }
}
