.pagina-travis{
    display: flex;
    flex-direction: column;

    width: 100%;
    

    .cartao{
        display: flex;
        flex-direction: column;
        align-items: center;

        .titulo{
            display: flex;
            padding-top: 80px;

            justify-content: center;
            align-items: center;

            
        }

        .dunk-low{
            display: flex;
            justify-content: center;
           

            width: 100%;
            max-width: 100%;

            > div{
                display: flex;
                justify-content: center;
                align-items: center;

                max-width: 810px;
                width: 810px;
                max-height: 350px;

                border: 1px solid #4E5B60;
                border-radius: 10px;

                margin-bottom: 40px;
                padding: 0px 20px;

                > div{
                    max-width: 550px;
                    max-height: 287.95px;

                    > img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        .imgs{
            display: flex;
            justify-content: center;
            width: 100%;

            > span{
                display: flex;
                flex-direction: row;
                gap: 30px;

                max-width: 820px;
                width: 820px;
                padding: 0px 5px;

                 > div{
                    max-width: 250px;
                    max-height: 118.64px;

                    > img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        .desc-tenis{
            display: flex;
            justify-content: center;
            width: 100%;

            >span{
               display: flex;
                flex-direction: column;
                
                font-family: 'Monda', sans-serif;
                font-size: 25px;
    
                width: 810px;

                padding-top: 40px; 
            }
        }

        .preco{
            display: flex;
            justify-content: center;
            width: 100%;

            >div{
                display: flex;
                max-width: 810px;
                width: 810px;

                gap: 20px;

                > span{
                    display: flex;
                    
                    
                    
                    font-size: 35px;
                    font-family: 'Monda', sans-serif;
        
                    padding-top: 70px;
                }

                .promocao{
                    width: auto;
                    text-decoration: line-through;

                    font-size: 30px;
                }
            }
            
        }

        .entrega{
            display: flex;
            flex-direction: row;

            width: 810px;

            padding-top: 70px;

            > div{
                display: flex;
                
                justify-content: center;
                align-items: center;

                width: auto;
                border: 1px solid #4E5B60;
                border-radius: 10px;
           

        >img{
            max-width: 45px;
            max-height: 55px;

            padding: 5px 10px 5px 10px;
        }

        >span{
            font-size: 20px;

            padding: 5px 5px;

            font-family: 'Monda', sans-serif;

           
        }
        
    }

        }

        .parcela{
            display: flex;

            width: 810px;

            font-family: 'Monda', sans-serif;
            font-size: 25px;

            padding-top: 30px;
        }

        .tamanho{
            width: 810px;
            padding-top: 20px;

            font-family: 'Monda', sans-serif;
            font-size: 25px;
        }

        .caixa-numero{
            display: flex;
            width: 810px;

            padding-top: 5px;
            

        .numeracao{
            
            width: 110px;
            height: 40px;
            
            font-size: 25px;
            font-family: 'Monda', sans-serif;

            border-radius: 5px;

        }
        }

        .qtd{
            width: 810px;
            padding-top: 40px;

            font-family: 'Monda', sans-serif;
            font-size: 25px;

            padding-bottom: 60px;

            >input{
                border-radius: 5px;
                border: 1px solid #4E5B60;

                height: 45px;
                width: 105px;

                margin-left: 150px;
                
                font-size: 25px;

                padding-left: 35px;

            }
        }

        .botao{
            display: flex;

            padding: 10px 10px;

            border-radius: 10px;
            border: 1px solid #4E5B60;

            background-color: #C7E8B4;

            font-family: 'Monda', sans-serif;
            font-size: 15px;

            margin-bottom: 80px;
        }


    }

}
