.pagina-LoginAdm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 100%;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.cartao{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    padding: 100px 0px;
}

.Login-Adm{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 50px;

    > span{
        width: 400px;
        padding: 0px 10px;
    }

    > input{
        width: 400px;
        height: 30px;
        border-radius: 25px;

        padding: 0px 15px;
        margin-bottom: 10px;
        border: 1px solid #4E5B60; 
    }
}

.botao-lembre{
   justify-content: center;
    width: 440px;
    padding: 10px;
}

.login{
    border-radius: 30px;
    border: 1px solid #4E5B60;

   
    width: 300px;
    height: 30px;
}