.pagina-login{
    display: flex;
    flex-direction: column;
    width: 100%;

    .cartao{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 100px 0px;
    


    .titulo{
        display: flex;
        justify-content: center;
        align-items: center;

        margin-bottom: 20px;
    }

    .cartao-email{
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 500px;
    }

    .texto-email{
        width: 370px;
    }

    .caixa-email{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .email{
        display: flex;
        flex-direction: column;

        width: 400px;
        height: 30px;
        
        border-radius: 25px;
        border: 1px solid #4E5B60;

        padding: 0px 10px;
    }


    .texto-senha{
        display: flex;
        
        flex-direction: column;
        width: 370px;
        padding-top: 10px;
    }

    .caixa-senha{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .senha{
        display: flex;
        flex-direction: column;

        width: 400px;
        height: 30px;
        
        border-radius: 25px;
        border: 1px solid #4E5B60;

        padding: 0px 10px;
    }


    .botao-conectado{
        display: flex;
        width: 380px;

        padding-top: 15px;
    }

    .botao-conectado > span {
        display: flex;
        padding: 0px 5px;
    }

    .botao-login{
        display: flex;
        align-items: center;
        justify-content: center;

        padding-top: 25px;
    }

    .login{
        border-radius: 30px;
        border: 1px solid #4E5B60;

       
        width: 300px;
        height: 30px;
    }

    .cadastro{
        display: flex;
        justify-content: center;
        align-items: center;
        
        padding-top: 30px;
    }

    .cadastro > a{
        text-decoration: none;
        color: #005CFF;
        padding-left: 5px;
    }

    .adm{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .adm > a{
        text-decoration: none;
        color: #005CFF;
        padding-left: 5px;
    }

    .pg-google{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        padding-top: 30px;
            

    .google{
        display: flex;
        justify-content: center;
        align-items: center;

        width: 500px;
        height: 30px;
        border-radius: 500px;

        outline: none;
        border: 1px solid #4E5B60;

    
    }
        
    > img{
        position: absolute;
        right: 440px;            
     
        width: 40px;
        height: 45px;
    }
    
}



    .pg-face{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        padding-top: 30px;


    .facebook{
        display: flex;
        justify-content: center;
        align-items: center;

        width: 500px;
        height: 30px;
        border-radius: 500px;

        outline: none;
        border: 1px solid #4E5B60;

    }

    > img{
        position: absolute;
        top: -27px;
        right: 387px;

        width: 150px;
        height: 100px;
    }
    


}

}
}

@media(max-width: 510px){
    .pagina-login{
        .cartao{
            .cartao-email{
                width: 200px;
            }

            > span{
                width: 200px;
            }

            .cadastro{
                width: 350px;
            }
            
            .pg-google{
                width: 350px;
            }
            
            .pg-face{
                width: 350px;
            }
        }
    }

}

@media(max-width: 469px){
    .pagina-login{
        .cartao{
            .cartao-email{
                width: 100px;
            
            > span{
                width: 250px;
            }
           
            .caixa-email{
                width: 250px;
            }
            
            .caixa-senha{
                width: 250px;
            }
        }
           
        }

    }

}

@media(max-width: 384px){
    .pagina-login{
        .cartao{
            .botao-conectado{
                width: 200px;
        }
   }
}
}

@media(max-width: 360px){
    .pagina-login{
        .cartao{
            .pg-google{
                width: 200px;
            }
            
            .pg-face{
                width: 200px;
            }
   }
}
}






