.pagina-rodape{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center; 

    padding: 0px 20px;
    width: 100%;
    height: 190px;
    background-color: #000;
    gap: 150px;

    > div{
        display: flex;
        flex-direction: column;
        
        height: 100px;
        color: #fff;
        gap: 10px;
        padding: 0px 10px;

        > h2{
            font-family: 'Monda', sans-serif;
            font-size: 18px;
            letter-spacing: 1px;

            margin-bottom: 10px;
        }

        >a , span{
            font-family: 'Monda', sans-serif;
            font-size: 16px;
            color: #fff;
            text-decoration: none;
        }

        > div{
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
    }

    a:hover{
        text-decoration: underline;
    }
}

@media(max-width:1124px){
    .pagina-rodape{
        gap: 100px;
    }
}

@media(max-width:976px){
    .pagina-rodape{
        gap: 50px;
    }
}

@media(max-width:828px){
    .pagina-rodape{
        gap: 25px;
    }
}

@media(max-width:710px){
    .pagina-rodape{

        > div{ 
            > h2{ 
                    font-size: 16px; 
            }
            > span{ 
                    font-size: 14px; 
            } 
        }
    }
}

@media(max-width: 650px){ 
    .pagina-rodape{ 

        > div{   
            > h2{  
                    font-size: 14px; 
            }
            > span{ 
                    font-size: 12px; 
            } 
        }
    }
}
 
@media(max-width: 450px){ 
    .pagina-rodape{ 
        flex-direction: column; 
        height: auto;
        padding-top: 20px;

        > div{
            width: 162.3px;
        }
    }
}