.pagina-cadastro-produto{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 

    width: 100%;
    

    .dados-produtos{
        display: flex;
        flex-direction: column;
        align-items: center;

        > h1{
            margin: 70px 0px 70px 0px;
        }

        .formulario-produto{
            display: flex;
            flex-direction: column;
            
            gap: 15px;
            margin-bottom: 70px;

           .colocar-imagens{
                position: relative;
                width:  170px;
                height: 150px;

                border: 1px solid #000;
                background-image: url('../../../assets/images/add-produto.png');
                background-size: 150px;
                background-position: 12px 12px;
                margin-bottom: 50px;

                margin-left: 118px;

                > input{
                    width: 100%;
                    height: 100%;
                    cursor: pointer; 
                    opacity: 0; 
                }
           }

           > div{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;

                gap: 10px;
           }

           > div > input{

                width: 500px;
                height: 40px;

                outline: none;
                border: 1px solid #000;
                border-radius: 10px;
           }

           > div > select {
                width: 500px;
                height: 40px;

                outline: none;
                border: 1px solid #000;
                border-radius: 10px;
           }

           .input-duplo{

                #primeiro-input{
                    width: 175px;
                }
        
                > input{
                    outline: none;
                    border: 1px solid #000;
                    border-radius: 10px;

                    height: 40px;
                    width: 250px;
                }
                
                > select{
                    width: 180px;
                }
           }

           .botaoCadastrar{
                display: flex;
                justify-content: center;
                width: 100%;

                > button{
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    width: 300px;
                    height: 30px;
                    padding: 10px;
                    margin-top: 30px;
                    margin-left: 70px;
                    
                    border-radius: 10px;
                    border: 1px solid #4E5B60;
                }
           }
           
        }

        #voltarMenu{
            display: flex;
            text-decoration: none;
            color: #000;

            width: 100%;
            height: 50px;
            padding: 0px 40px;
        }
        
    }
}

