.pagina-cadastro-produto{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 

    width: 100%;
    

    .dados-produtos{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        

        > h1{
            text-align: center;
            margin: 70px 0px 70px 0px;
            padding: 0px 30px;
        }

        .cartao-produto{
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 0px 30px; 

            .formulario-produto{
                display: flex;
                flex-direction: column;
                
                
                gap: 15px;
                max-width: 500px; 
                margin-bottom: 70px; 
                 

                .colocar-primeira-imagm{
                    display: flex;
                    align-items: flex-end;
                    width: 100%;

                    > div{
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        max-width:  500px; 
                        width: 100%;

                        max-height: 150px;
                        height: 150px;
                        
                        border: 1px solid #000;


                        .prm-fr-select{
                            max-width: 50%;
                            height: 80%; 
                        }
                    

                        > input{
                            visibility: hidden;
                            position: absolute;
                        }
                    }   
                    
                    > div:hover{
                        cursor: pointer;  
                    }
                }

                .add-mais-imgs{
                    display: flex;
                    width: 100%;
                    margin-bottom: 50px;                   

                    > div{
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        max-width: 500px; 
                        width: 100%;
                        gap: 25px; 

                        > div{
                            display: flex;
                            justify-content: center;
                            align-items: center; 

                            width: 150px; 
                            max-height: 70px;
                            height: 70px;
                            
                            border: 1px solid #000; 
                            
                            > img{
                                width: 100%;
                                height: 100%;
                            }

                            > input{
                                visibility: hidden;
                                position: absolute;
                            }
                        }
                    }
                }

                > div{ 
                    display: flex; 
                    flex-direction: row; 
                    justify-content: flex-end;  
                    align-items: center;
                    
                    width: auto;

                    gap: 10px; 

                    >div{ 
                        width: 100%;
                        max-width: 450px;
                        
                     
                        > input{
                            width: 100%;
                            height: 40px; 

                            outline: none;
                            border: 1px solid #000;
                            border-radius: 10px;
                            padding: 0px 10px;
                        }
                    }
                    

                    > select {
                        max-width: 500px;
                        width: 100%;
                        height: 40px;

                        outline: none;
                        border: 1px solid #000;
                        border-radius: 10px;
                    }

                    > span{
                        text-align: left;
                        width: 75.50px;
                    }
                }

            

                .input-duplo{
                    display: flex;
                    justify-content: flex-end;

                    #primeiro-input{
                        max-width: 172.75px ;
                        width: 100% ;
                    }
            
                    > input{ 
                        outline: none;
                        border: 1px solid #000;
                        border-radius: 10px;

                        height: 40px; 
                        
                        max-width: 180px;  
                        width: 100%;  
                    }
                    
                    > select{
                        max-width: 180px; 
                        width: 100%; 
                    }
                }

            .botaoCadastrar{
                    display: flex;
                    justify-content: center;
                    width: 100%;

                    > button{
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        width: 300px;
                        height: 30px;
                        padding: 10px;
                        margin-top: 30px;
                        
                        border-radius: 10px;
                        border: 1px solid #4E5B60;
                    }
                }
           
            }
        }

        #voltarMenu{
            display: flex;
            text-decoration: none;
            color: #000;

            width: 100%;
            height: 50px;
            padding: 0px 40px;
        }
        
    }
}

