.pagina-MeusPedidos{
    display: flex;
    flex-direction: column;
    justify-content: space-between ;

    width: 100%;
    height: 100%;

    .cartao{
        display: flex;
        justify-content: center;
        align-items: center;

    > h1{
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 50px;
    }

    .tenis-1{
        display: flex;  
        flex-direction: row;
        justify-content: center;
        align-items: center;

        gap: 20px;


        .tenis-travis{
            display: flex;
            justify-content: center;
            align-items: center;
        
            width: 120px;
            height: 70px;
         }

         > div{
            display: flex;
            flex-direction: column;
            padding: 0px 0px 0px 50px;     

            gap: 15px;

            > button{
                border-radius: 5px;
                border: 1px solid #D9D9D9;
                width: 200px;
                height: 35px;
                font-family: 'Monda', sans-serif;
                font-weight: 700;
            }
         }

    .preco{
        display: flex;
        text-align: center;
        justify-content: flex-end;
    }

    > img{
        display: flex;
        border-radius: 10px;
        border: 1px solid #000;
    } 
}

    > hr{
        display: flex;
        align-items: center;
        
        width: 80%;
        margin-top: 50px;
        

    }
   

    .tenis-2{
        display: flex;  
        flex-direction: row;
        justify-content: center;
        align-items: center;

        gap: 20px;


        > img{
            display: flex;
            justify-content: center;
            align-items: center;
        
            width: 120px;
            height: 70px;

            border-radius: 10px;
            border: 1px solid #000;
            margin-top: 40px;
        }

        > div{
            display: flex;
            flex-direction: column;
            padding: 0px 0px 0px 170px;     

            gap: 15px;  

            > span{
                display: flex;
                text-align: center;
                justify-content: flex-end;
            }

            > button{
                border-radius: 5px;
                border: 1px solid #D9D9D9;
                width: 200px;
                height: 35px;   
                font-family: 'Monda', sans-serif;
                font-weight: 700;
            }
        }
    }

    .tenis-3{
        display: flex;  
        flex-direction: row;
        justify-content: center;
        align-items: center;

        gap: 20px;

        > img{
            display: flex;
            justify-content: center;
            align-items: center;
        
            width: 120px;
            height: 70px;

            border-radius: 10px;
            border: 1px solid #000;
            margin-top: 40px;
        }

        > div{
            display: flex;
            flex-direction: column;
            padding: 0px 0px 0px 170px;     

            gap: 15px;  


            > span{
                display: flex;
                text-align: center;
                justify-content: flex-end;
            }

            > button{
                border-radius: 5px;
                border: 1px solid #D9D9D9;
                width: 200px;
                height: 35px;   
                font-family: 'Monda', sans-serif;
                font-weight: 700;
            }
        }
    }

    .botao{
        display: flex;
        margin-top: 100px;
        border-radius: 10px;
        border: 1px solid #D9D9D9   ;
        font-family: 'Monda', sans-serif;
        font-weight: 900;
    }

 }
 
}