.pagina-cabecalho{
    display: flex;
    flex-direction: column;

    .prtcima-cabecalho{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        gap: 15px;
        height: 50px;
        padding: 0px 35px;
        background-color: #000;
        font-size: 14px;
        color: #fff; 

        > a{
            text-decoration: none;
            font-size: 14px;
            color: #fff;
        }

        > a:hover{
            text-decoration: underline;
        }

    }

    .conteudo-cabecalho{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 110px;

        padding: 0px 35px;
    }

    .logo-cabecalho{
        max-width: 90px;
        width: 90px;

        max-height: 70px;
        padding: 0px 10px;

        > a {
            max-width: 90px;
            width: 90px;

            max-height: 70px;
            padding: 0px 10px;
        }

        a > img{
            width: 100%;
            height: 100%;
        }
    }

    .links-cabecalho{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 150px;
        padding-left: 90px;
    }

    .paginas-cabecalho{
        display: flex;
        flex-direction: row;
        gap: 30px; 

        > a{
            text-decoration: none;
            color: #000;
        }

        > a:hover{
            text-decoration: underline;
        }
    }

    

    .icones-compras{
        position: relative;
    }

    .icones-compras > input{
        width: 180px;
        height: 50px;
        
        padding: 0px 45px 0px 20px;

        outline: none;
        border-radius: 30px;
        border: 1px solid #000;
    }

    .lupa{
        position: absolute;
        top: 15px;
        right: 20px;
        font-size: 20px;
    }

    .carrinho-cabecalho{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: auto;

        gap: 20px;
    }

    .coracao{
        font-size: 25px;
    }

    .carrinho{
        font-size: 22px;
    }

    .prt-fixa-cabecalho{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        background-color: #000;
        font-size: 14px;
        color: #fff;
        height: 30px;
    }
}

@media(max-width: 2000px){
    .pagina-cabecalho{
       .links-cabecalho > .icones-compras{
            display: none;
        } 
    }
}


@media(max-width: 1030px){

    .pagina-cabecalho{
        .links-cabecalho{
            padding: 0px 30px;
            width: auto;
            justify-content: center;
        }
        .paginas-cabecalho{
            display: none;
        }
        .links-cabecalho > .icones-compras{
            display: flex;
        }
        .carrinho-cabecalho > .icones-compras{
            display: none;
        }
        .icones-compras > input{
            width: 100%;
        } 
    } 
}

@media(max-width: 750px){
    .pagina-cabecalho{
        .paginas-cabecalho{
            display: none;
        }
    }
}

@media(max-width: 500px){
    .pagina-cabecalho{
        .prtcima-cabecalho{
            height: 40px;

            font-size: 12px;

            > a{
                font-size: 12px;
            }
        }
        .icones-compras > input{
            height: 40px;
        }
        .lupa{
            top: 12px;
            font-size: 17px;
        }
        .coracao{
            font-size: 20px;
        }
    
        .carrinho{
            font-size: 18px;
        }
        .conteudo-cabecalho{
            height: 90px;
        }
        .prt-fixa-cabecalho{
            font-size: 12px;
        }
    }
}

@media(max-width: 470px){
    .pagina-cabecalho{
        .carrinho-cabecalho{
            gap: 15px;
        }
    }
}

@media(max-width: 440px){
    .pagina-cabecalho{
        .prtcima-cabecalho > a{
            text-align: center;
        }
        .conteudo-cabecalho{
            padding: 0px 15px;
        }
    }
}

// @media(max-width: 310px){
//     .pagina-cabecalho{
//         .prtcima-cabecalho > a{
//             font-size: 12px;
//         }
//         .logo-cabecalho{
//             font-size: 12px;
//              width: 80px;

//             > img{
//                 width: 60px;
//                 height: 60px;
//             }
//         }

//     }
// }
