.pagina-DadosPedidos{
    display: flex;
    
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 100%;
    .cartao{
        display:flex;
        align-items: center;
        width: 100%;

        > h1{
            display: flex;
            justify-content:center ;
            align-items: center;

            padding-top: 70px;
        }

    .formulario{
        display: flex;
        flex-direction: column;

        margin-top: 100px;
       

        font-family: 'Monda', sans-serif;
        font-size: 15px;

        width: 45%;

    > span{
        margin-bottom: 10px;
    }

    .nome{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 30px;
        
        gap: 30px;

        font-size: 14px;

        width: 400px;
        > input{
            border-radius: 15px;
            border: 1px solid #4E5B60;

            width: 250px;
            height: 25px;

            padding: 0px 10px;
        }
        }
        
    .email{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 30px;
        
        gap: 30px;

        font-size: 14px;

        width: 400px;
        > input{
            border-radius: 15px;
            border: 1px solid #4E5B60;

            width: 250px;
            height: 25px;

            padding: 0px 10px;
        }
    }

    .cep{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 30px;
        
        gap: 30px;

        font-size: 14px;

        width: 400px;
        > input{
            border-radius: 15px;
            border: 1px solid #4E5B60;

            width: 250px;
            height: 25px;

            padding: 0px 10px;
        }
    }

    .endereco{
        display: flex;
        margin-top: 30px;
        margin-bottom: 30px;
        
        gap: 10px;

        font-size: 14px;

        width: auto;

        .end{
            width: 100px;
            margin-right: 40px;
        }
        .n{
            border-radius: 15px;
            border: 1px solid #4E5B60;

            width: 250px;
            height: 25px;

            padding: 0px 10px;
        }

        .numero{
            width: 60px;
            height: 30px;

            border-radius: 10px;
            border: 1px solid #4E5B60;

            padding: 0px 10px;
        }
    }
    
}

        .continuar{
            display: flex;
            margin-top: 30px;
            margin-bottom: 30px;

            align-items: center;
            justify-content: center;

            border-radius: 15px;
            border: 1px solid #4E5B60;

            width: 300px;
            height: 30px;
            
        }



}
}