.pagina-pagamentos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 100%;

    .cartao-forma-pag{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        
        padding: 100px 0px;

        .formulario-forma-pag{
            display: flex;
            flex-direction: column;

            width: 60vw;

            >h1{
                text-align: center;
                margin-bottom: 100px;
                font-family: 'Monda', sans-serif;
            }

            > span{
                font-size: 18px;
                font-weight: 600;
                font-family: 'Monda', sans-serif;
            }
            > hr{
                margin: 10px 0px;
            }

            > div{
                display: flex;
                justify-content: space-between;
                margin: 5px 0px;

                > span{
                    display: flex;
                    justify-content: space-between;
                    min-width: 95.52px;
                }

                .valor{
                    display: flex;
                    gap: 10px;
                }  
            }

            .escolher-metodo{
                margin-top: 60px;
            }

            .formas-de-pagamentos{
                display: flex;
                align-items: center;

                >div{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    
                    height: 36px;

                    i{
                        font-size: 23px;
                        margin: 0px 15px;
                    }

                    img{
                        max-width: 31.5px;
                        max-height: 39px;
                        margin: 0px 10px 0px 0px;
                    }

                    .cartao-credito{
                        font-size: 28px;
                        margin: 0px 10px 0px 0px;
                    }

                    .pix{
                        font-size: 32px;
                        margin: 0px 10px 0px 1px;
                    }
                }

                >span{
                    display: flex;
                    justify-content: flex-end;
                    text-align: end;
                    width: auto;
                }
            }

            .form-cartao{
                display: flex;
                justify-content: center;

                width: 100%;
                padding: 20px 0px;

                > div{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    
                    border: 1px solid black;

                    padding: 20px 50px;
                    border-radius: 15px;
                    max-width: 472px;

                     > input{
                        border-radius: 5px;
                        outline: none;
                        border: 1px solid black;

                        height: 25px;
                        margin-bottom: 10px;

                        padding: 0px 5px;
                        max-width: 370px;
                    }

                    > label{
                        font-size: 14px;
                        font-weight: 600;
                    }

                    > div{
                        display: flex;
                        gap: 20px;

                        >span{
                            display: flex;
                            flex-direction: column;

                            > input{
                                border-radius: 5px;
                                outline: none;
                                border: 1px solid black;
        
                                height: 25px;
                            } 

                            > label{
                                font-size: 14px;
                                font-weight: 600;
                            }
                        }
                    }

                    > select{
                        border-radius: 5px;
                        outline: none;
                        border: 1px solid black;

                        height: 25px;
                    }

                    #quant-parcelas{
                        margin-top: 10px;
                    }
                }

            }

            .botao-confirm{
                display: flex;
                justify-content: center;

                width: 100%;
                margin-top: 30px;

              > button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #D9D9D9;

                    width: 200px;
                    height: 30px;
                    border-radius: 15px;

                    font-family: 'Monda', sans-serif;
                    font-size: 14px;
                    border: 0.5px solid #000;
                    font-weight: 600;
                }  
            }
        }
    }
}