.pagina-QuemSomos{
    width: 100%;
    h1.roger {
        text-align: center;
        padding-top: 70px;
        padding-block-end: 50px;
    }

    .borda {
        display: flex;
        flex-direction: column;
        border: solid;
        border-radius: 20px;
        width: 70vw;
    }

    .espaco {
        padding-block-end: 100px;
        display: flex;
        justify-content: center;
    }

    p.descao {
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        padding-block-end: 30px;
        padding-top: 50px;
        font-size: 32px;
    }
}