.pagina-FinalizarPedido{
   box-sizing: border-box;
}

.texto1{
    text-align: center;
    padding-top:75px;
}

.textinho{
    display: flex;
    justify-content: center; 
    align-items: center;

    width: 100%;
    padding: 20px 0px;
}

.texto2{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 660px;
    width: 890px;
    
    border-radius: 60px;
    border: 1px solid #757575;
    
    padding-top: 55px;
}


.image{
    display: flex;
    justify-content: center;
    
    height: 15%;
    
    
}

.paragrafo1{
    text-align: center;
    padding: 10px;
}

.p2{
    padding: 40px;
}

.p4{
    padding: 40px;
}

.button{
    
    display: flex;
    justify-content: center;

        width: 200px;
        height: 300px;

        align-items: center;
        border: none;
        font-size: 15px;
        border: 1px;
}
