.pagina-principal {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: auto;
  

  .banner-fors{
    width: 100%; 
    max-height: 350px;
    
    > div{
      max-width: 100%;
      max-height: 100%;
      padding: 0px 0.0001px;

      >img{
        width: 100%;
        height: 100%;
      }
    }
  }

  .dunk-low{
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    max-width: 100%;

    padding: 150px 10px 0px 10px;
    gap: 30px;

    margin-bottom: 150px;

    .cartao-dunk-low{
      max-width: 600px;
      max-height: 700px;
      min-width: 302px;
      min-height: 441px;

      padding: 20px;

      > img{
        width: 100%;
        height: 100%;

        border-radius: 50px;
        border: 1px solid #000;
      }
    }
  }

  .detalhes-dunk-low{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;

    > h1{
      font-family: 'Monda', sans-serif;
      font-size: 40px;
      color: #212529;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #000;
      margin-bottom: 10px;
    }

    > h2{
      font-family: 'Inter', sans-serif;
      font-size: 32px;

      margin-bottom: 30px;
    }

    > p{
      text-align: center;
      font-family: 'Inter', sans-serif;
      width: 380px;
      font-size: 16px;
      line-height: 25px;

      margin-bottom: 100px;
    }

    > a{
      color: #000;
      font-family: 'Monda', sans-serif;
      font-size: 14px;
      font-weight: 600;

      padding: 15px 30px;
      border-radius: 30px;
      border: 1px solid #000;

      text-decoration: none;
      background-color: #d9d9d9;
    }

    > a:hover{
      background-color: #000;
      color: #d9d9d9;
      transition: 0.9s;
    }
   
  }

  .banner-salamon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% ;

    > div{
      max-width: 1100px;
      padding: 0px 15px;
      
      > img{ 
        max-width: 100%;
        border-radius: 5px;
        border: 1px solid #000;
      }
    } 
  }

  .Texto-segunda-faixa{
    display: flex;
    flex-direction: column;
    align-items: center; 

    width: 100%;
    margin-top: 50px;

    > h1{
      font-family: 'Monda', sans-serif;
      font-size: 40px;
      color: #212529;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #000;
      margin-bottom: 10px; 
    }

    > p{
      text-align: center;
      font-family: 'Inter', sans-serif; 
      font-size: 16px;
      margin-bottom: 45px; 
    }

    > a{
      color: #000;
      font-family: 'Monda', sans-serif;
      font-size: 14px;
      font-weight: 600;

      padding: 15px 100px;
      border-radius: 30px;
      border: 1px solid #000;

      text-decoration: none;
      background-color: #d9d9d9; 
    } 
  }

  .terceira-faixa{
    display: flex;
    flex-direction: column;

    width: 100%;
    margin-top: 150px;
    
    
    .detalhes-titulo{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; 

      > div{
        width: 100%;
        height: 1px;
        background-color: #000; 
      }

      > h2{
        font-family: 'Monda', sans-serif;
        font-size: 38px;
        color: #212529; 
        letter-spacing: 1px; 
        margin: 0px 10px; 
      }
    }

    .faixa-destaques{ 
      display: flex; 
      flex-direction: row;
      align-items: center; 
      justify-content: space-between;    

      
      width: 100%; 
      height: 400px; 
      padding: 0px 50px; 

      margin-top: 60px;
      margin-bottom: 200px; 
      background-color: #CED4D4;
      
      > div{
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        position: relative; 

        width: 260px;   
        height: 260px; 
        
        
        > img{ 
          width: 100%;
          height: 100%;
        }

        >a{
          position: absolute;
          bottom: -15px;

          text-decoration: none; 
          background-color: #000; 
          padding: 10px 20px;

          color: #fff; 
          font-family: 'Monda', sans-serif; 
          font-size: 14px; 
          font-weight: 600;
          border-radius: 30px; 
        }
      }
    }
  }

  .ultima-faixa-hp{
    display: flex;
    flex-direction: column;
    align-items: center; 

    width: 100%;

    .tenis-personalizados{
      max-width: 800px;
      max-height: 800px;
      padding: 0px 15px;
      
      > img{
        width: 100%;
        height: 100%;
      }
    }

    > h1{ 
        font-family: 'Monda', sans-serif;  
        font-size: 40px; 
        color: #212529; 
        -webkit-text-stroke-width: 2px; 
        -webkit-text-stroke-color: #000; 
        margin-bottom: 15px;
        margin-top: 50px;  
    } 

    > p{
      text-align: center;
      font-family: 'Inter', sans-serif;
      width: 100%;
      max-width: 580px; 
      font-size: 17px;
      line-height: 25px;

      margin-bottom: 50px;
      padding: 0px 10px; 
    }

    > a{
      color: #000;
      font-family: 'Monda', sans-serif;
      font-size: 14px;
      font-weight: 600;

      padding: 15px 30px;
      border-radius: 30px;
      border: 1px solid #000;

      text-decoration: none;
      background-color: #d9d9d9;
      margin-bottom: 100px;
    }
    
  } 

}  
 
  
@media(max-width: 1156px){  
  .pagina-principal{  
    .dunk-low{ 

      .detalhes-dunk-low{

        > h1{
          font-size: 38px;
        }

        > h2{
          font-size: 30px;
        }

        > p{
          font-size: 16px;
        }
      }
    }
  }
}

@media(max-width: 1060px){  
  .pagina-principal{  
    .dunk-low{ 
      flex-direction: column;
      align-items: center;

      .cartao-dunk-low{
        padding: 0px 50px;
      }

      .detalhes-dunk-low{

        > h1{
          font-size: 35px;
        }

        > h2{
          font-size: 27px;
        }

        > p{
          width: 100%;
          max-width: 700px;
          margin-bottom: 45px;
          padding: 5px;
        }
      }
    }
  }
}

// @media(max-width: 950px){
//   .pagina-principal{
//     .dunk-low{
//       gap: 0px;

//       > div{
        
//         max-width: 400px;
//         max-height: 200px;

//         padding: 5px;

//         > img{
//           width: 100%;
//           height: 100%;
//         }
//       }

//       .detalhes-dunk-low{

//         > h1{
//           font-size: 30px;
//         }

//         > h2{
//           font-size: 25px;
//         }

//         > p{
//           font-size: 14px;
//         }
//       }
//     }
//   }
// }
  
// @media(max-width: 850px){
//   .pagina-principal{
//     .dunk-low{
//       gap: 0px;

//       > div{
        
//         max-width: 300px;
//         max-width: 100px;

//         padding: 5px;

//         > img{
//           width: 100%;
//           height: 100%;
//         }
//       }

//       .detalhes-dunk-low{

//         > h1{
//           font-size: 30px;
//         }

//         > h2{
//           font-size: 25px;
//         }

//         > p{
//           font-size: 14px;
//         }
//       }
//     }
//   }
// }
