.pagina-consulta{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    

    .cartao-consulta{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 110px;

        min-height: 435px;

        > h1{           
            margin-bottom: 20px;
        }
        
        .input-pesquisar{
            display: flex;
            flex-direction: column;
            align-items: center;
            
            width: 500px;
            height: auto;

            position: relative;  
        }

        .texto-pesquisar{
            font-family: 'Monda', sans-serif;
            font-size: 15px;

            width: 300px;
            height: auto;
            margin-bottom: 10px;
            text-align: center;
        }

        .pesquisa{
            border-radius: 10px;
            border: 1px solid #4E5B60;
            
            outline: none;

            width: 100%;
            height: 30px;

            padding: 0px 50px 0px 25px;
        }

        .lupa{
            position: absolute;

            top: 7px;
            right: 20px;
        }

        .codigo-produto{
            display: flex;
            flex-direction: row;

            max-width: 700vw;

            font-size: 10px;
            

            margin-top: 50px;
            padding: 0px 20px;

            > h1{
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;

                height: 42px;
                padding: 0px 10px;
            }
        }
    }

    #voltarMenu{
        display: flex;
        text-decoration: none;
        color: #000;

        width: 100%;
        height: 50px;
        padding: 0px 40px;
    }
    
}