.pagina-andamento{
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    width: 100%;
    height: 100%;

    

    .cartao{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .titulo{
            padding: 50px 0px;
        }
        
        .input-pesquisar{
            display: flex;
            flex-direction: column;
            align-items: center;
            
            width: 350px;
            height: auto;

            position: relative;  
        }

        .texto-pesquisar{
            font-family: 'Monda', sans-serif;
            font-size: 15px;

            width: 300px;
            height: auto;
            margin-bottom: 10px;
            text-align: center;
        }

        .pesquisa{
            border-radius: 10px;
            border: 1px solid #4E5B60;
            
            outline: none;

            width: 100%;
            height: 30px;

            padding: 0px 50px 0px 25px;
        }

        .lupa{
            position: absolute;

            top: 35px;
            right: 20px;
        }

        .id-produto{
            display: flex;
            flex-direction: row;
            max-width: 100vw;

            font-size: 10px;
            gap: 15px;

            padding: 50px 10px;
        }

        .caixa-id{
            border-radius: 10px;
            border: 1px solid #4E5B60;

            padding: 5px 5px;
        }

        .id > h1{
            padding-bottom: 15px;
        }
        
        .caixa-nome{
            border-radius: 10px;
            border: 1px solid #4E5B60;

            padding: 5px 5px;
        }

        .nome-cliente > h1{
            padding-bottom: 15px;
        }

        .caixa-prod{
            border-radius: 10px;
            border: 1px solid #4E5B60;

            padding: 5px 5px;
        }

        .produto > h1{
            padding-bottom: 15px;
        }

        .caixa-pag{
            border-radius: 10px;
            border: 1px solid #4E5B60;

            padding: 5px 5px;
        }

        .pagamento > h1{
            padding-bottom: 15px;
        }

        .caixa-status{
            border-radius: 10px;
            border: 1px solid #4E5B60;

            padding: 5px 5px;
            
            width: 150px;
            
        }

        .status > h1{
            padding-bottom: 15px;
        }

        .voltar{
            position: absolute;
            text-decoration: none;
            bottom: 20px;
            left: 40px;

            color: #000;
        }

    }
}