.pagina-privacidade{
    h1 {
        text-align: center;
        padding: 80px;
        font-size: 50px;
    }

    .borda {
        padding-block-end: 100px;
        display: flex;
        justify-content: center;
    }

    .info {
        display: flex;
        flex-direction: column;
        border: solid;
        border-radius: 20px;
        width: 70vw;
    }

    p.prime {
        padding: 20px;
        text-align: justify;
        font-size: 30px;
    }

    p.final {
        text-align: justify;
        padding: 20px;
        font-size: 30px;
    }
    
    .dino {
        display: flex;
        justify-content: center;
        padding-block-end: 5%;
    }

    button.ramon {
        border-radius: 30px;
        width: 300px;
        height: 30px;
        margin-top: 30px;
        padding: 10px;
        padding-top: 6px;
        border: 1px solid #4E5B60;
    }
}